@tailwind base;
@tailwind components;
@tailwind utilities;

html{ 
  @apply font-sans

}

body {
  @apply bg-slate-950 text-white
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.default-shadow{
  -webkit-box-shadow: 18px 10px 45px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 10px 45px -15px rgba(0,0,0,0.75);
  box-shadow: 18px 10px 45px -15px rgba(0,0,0,0.75);
}